body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

.bg-left-half {
  position: relative; }
  .bg-left-half:before {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    background-color: #f8f9fa; }

.media-29101 img {
  margin-bottom: 20px; }

.media-29101 h3 {
  font-size: 18px;
  font-weight: 900 !important; }
  .media-29101 h3 a {
    color: #6c757d; }

.owl-2-style .owl-nav {
  display: none; }

.owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px; }
  .owl-2-style .owl-dots .owl-dot {
    display: inline-block; }
    .owl-2-style .owl-dots .owl-dot span {
      display: inline-block;
      width: 15px;
      height: 3px;
      border-radius: 0px;
      background: #cccccc;
      -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      margin: 3px; }
    .owl-2-style .owl-dots .owl-dot.active span {
      background: #007bff; }
    .owl-2-style .owl-dots .owl-dot:active, .owl-2-style .owl-dots .owl-dot:focus {
      outline: none; }

      /* product section */
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
      
            body {
              font-family: "Poppins", sans-serif;
              color: #444444;
            }
      
            a,
            a:hover {
              text-decoration: none;
              color: inherit;
            }
      
            .section-products {
              padding: 80px 0 54px;
            }
      
            .section-products .header {
              margin-bottom: 50px;
            }
      
            .section-products .header h3 {
              font-size: 1rem;
              color: #fe302f;
              font-weight: 500;
            }
      
            .section-products .header h2 {
              font-size: 2.2rem;
              font-weight: 400;
              color: #444444;
            }
      
            .section-products .single-product {
              margin-bottom: 26px;
            }
      
            .section-products .single-product .part-1 {
              position: relative;
              height: 290px;
              max-height: 290px;
              margin-bottom: 20px;
              overflow: hidden;
            }
      
            .section-products .single-product .part-1::before {
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: -1;
              transition: all 0.3s;
            }
      
            .section-products .single-product:hover .part-1::before {
              transform: scale(1.2, 1.2) rotate(5deg);
            }
      
            .section-products #product-1 .part-1::before {
              background: url("../images/hero_1.jpg") no-repeat center;
              background-size: cover;
              transition: all 0.3s;
            }
      
            .section-products #product-2 .part-1::before {
              background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
              background-size: cover;
            }
      
            .section-products #product-3 .part-1::before {
              background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
              background-size: cover;
            }
      
            .section-products #product-4 .part-1::before {
              background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
              background-size: cover;
            }
      
            .section-products .single-product .part-1 .discount,
            .section-products .single-product .part-1 .new {
              position: absolute;
              top: 15px;
              left: 20px;
              color: #ffffff;
              background-color: #fe302f;
              padding: 2px 8px;
              text-transform: uppercase;
              font-size: 0.85rem;
            }
      
            .section-products .single-product .part-1 .new {
              left: 0;
              background-color: #444444;
            }
      
            .section-products .single-product .part-1 ul {
              position: absolute;
              bottom: -41px;
              left: 20px;
              margin: 0;
              padding: 0;
              list-style: none;
              opacity: 0;
              transition: bottom 0.5s, opacity 0.5s;
            }
      
            .section-products .single-product:hover .part-1 ul {
              bottom: 30px;
              opacity: 1;
            }
      
            .section-products .single-product .part-1 ul li {
              display: inline-block;
              margin-right: 4px;
            }
      
            .section-products .single-product .part-1 ul li a {
              display: inline-block;
              width: 40px;
              height: 40px;
              line-height: 40px;
              background-color: #ffffff;
              color: #444444;
              text-align: center;
              box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
              transition: color 0.2s;
            }
      
            .section-products .single-product .part-1 ul li a:hover {
              color: #fe302f;
            }
      
            .section-products .single-product .part-2 .product-title {
              font-size: 1rem;
            }
      
            .section-products .single-product .part-2 h4 {
              display: inline-block;
              font-size: 1rem;
            }
      
            .section-products .single-product .part-2 .product-old-price {
              position: relative;
              padding: 0 7px;
              margin-right: 2px;
              opacity: 0.6;
            }
      
            .section-products .single-product .part-2 .product-old-price::after {
              position: absolute;
              content: "";
              top: 50%;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: #444444;
              transform: translateY(-50%);
            }   